$navbar-bg: #111 !default;
$navbar-fg: #d4d4d4 !default;
$navbar-hover-color: #ffffff !default;
$navbar-active-color: #ffffff !default;
$navbar-brand-color: #d4d4d4 !default;
$navbar-brand-hover-color: #ffffff !default;
$navbar-toggler-border-color: rgba(255, 255, 255, 0.3) !default;

.navbar,
.navbar-dark,
.navbar-light {
  background-color: #111 !important;
}

.navbar .navbar-brand,
.navbar .nav-link,
.navbar .navbar-nav .nav-link,
.navbar .navbar-text {
  color: #d4d4d4 !important;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus,
.navbar .nav-link.active {
  color: #ffffff !important;
}

.navbar .dropdown-menu {
  background-color: #111;
  border-color: #2a2a2a;
}

.navbar .dropdown-item {
  color: #d4d4d4;
}

.navbar .dropdown-item:hover,
.navbar .dropdown-item:focus,
.navbar .dropdown-item.active {
  color: #ffffff;
  background-color: #2a2a2a;
}

.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.4);
}

.navbar-toggler-icon {
  filter: invert(1);
}
